#BASE CONFIGURE SECTION
FILE_BASE_URL='https://gamatrain.com'
API_BASE_URL='https://gamatrain.com'
NUXT_PROXY_BASE_URL='https://gamatrain.com'
NUXT_PROXY_API_BASE_URL="https://core.gamatrain.com/api/v1/**"
NUXT_PROXY_API2_BASE_URL="https://sandbox.gamaedtech.com/api/v1"
NUXT_PROXY_UPLOAD_URL="https://core.gamatrain.com/uploads/**"
NUXT_BASE_URL1="https://core.gamatrain.com"
NUXT_BASE_URL2="https://sandbox.gamaedtech.com"



#Location
GEO_BY_IP_KEY='mjbz82p145ql3wl7'


GOOGLE_CLIENT_Id='231452968451-rd7maq3v4c8ce6d1e36uk3qacep20lp8.apps.googleusercontent.com'
GOOGLE_REDIRECT_URI='http://localhost:3002/auth/callback/google'

#recapcha
NUXT_RECAPTCHA_SITE_KEY=6LcGF3ErAAAAAAneMnvDNOvdBg4Z7IDoL86tJr9T

#Google Adsense ID
NUXT_GOOGLE_ADSENSE_ID='ca-pub-3940256099942544'

# Google Tag Manager Id
NUXT_PUBLIC_GTM_ID=



# Solana Configuration
NUXT_SOLANA_RPC_URL='https://hidden-bold-road.solana-mainnet.quiknode.pro/d83cca6a22c6e04d9fab113e56ca82bbb9c87a23'
NUXT_SOLANA_NETWORK='mainnet-beta'
NUXT_SOLANA_TOKEN_MINT='HyXdVykYjcgJwgBmeMmy59QHF4HncsH1TScdH97nqJYW'
NUXT_PUBLIC_RANDOM_COIN_API_KEY="kqR2GtIrpUrDZduvNwPTpQ8acHJQsQ2X0vK0e8GNkC9PFTv7EtWCaP0j0p2Y59lepGkik06cIbqB8W68KYolHaCuTIqCKD4ZokIURuH0hVCuyLQxtqZZwgwvusKdr1sQ"


#Game
NUXT_PUBLIC_RANDOM_COIN_API_KEY="kqR2GtIrpUrDZduvNwPTpQ8acHJQsQ2X0vK0e8GNkC9PFTv7EtWCaP0j0p2Y59lepGkik06cIbqB8W68KYolHaCuTIqCKD4ZokIURuH0hVCuyLQxtqZZwgwvusKdr1sQ"

#A wallet that pays users their earnings
PROJECT_PAYER_VAULT_KEY='[1,2,...]'

#Remote access to private api
SERVER_API_KEY="apitest"


#MongoDB
CONNECTION_STRING_MONGODB=


# telegram assistance bot
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHANNEL_ID=""
TELEGRAM_GROUP_ID=""
TELEGRAM_API_SECRET=""


OPENAI_API_KEY=

#Project Payment Config
NUXT_GAMAEDTECH_WALLET_ADDRESS=''



#API Secret for server side
API_SECRET="supersecretkey123"


# AI Configuration
# For local Ollama:

# For VPS:

AI_API_URL='http://localhost:11434'
NUXT_PUBLIC_AI_MODEL_NAME='qwen2-gamatrain'
